<div>
  <h2><%=@user.email%></h2>

  <ul>
    <% @user_tasks.all.each do |task| %>
    <li>
      <a href="/tasks"><%= task.name %></a>
      <div>
        <% if @current_user == true %>
        <form action="/edit_task">
          <input type="submit" value="Edit">
          <input type="hidden" name="tasks[id]" value="<%= task.id%>">
        </form>
        <%= form_tag("/delete_task", method: "post") do %>
          <input type="submit" value="Delete">
          <input type="hidden" name="tasks[id]" value="<%= task.id %>">
          <input type="hidden" name="_method" value="delete">
        <%end%>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% end %>