<% if session[:user_id] %>
<div>
  <%@user = User.find(session[:user_id])%>
  <h2>Welcome <%= @user.email%></h2>
  <div>
    <form action= "<%= users_path %>">
      <input type="hidden" name="log_out" value="true">
      <input type="submit" value="Log Out">
    </form>
    <a href="<%= edit_profile_path%>">Edit Profile</a>
    <a href="<%= user_path(session[:user_id]) %>" data-method="delete">Delete Profile</a><br>
      
    <a href="<%= to_do_path%>">Tasks</a>
      
    <% else %>
    <a href="/login">Login</a>
    <% end %>

  </div>
</div>
